<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AF</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>KR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>AA</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>KB</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>AC</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>DR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>EF</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>FR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>GF</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>HR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>AI</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>KJ</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>AK</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>LR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
    <key>MF</key>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
	<key>NR</key>
	<dict>
		<key>country_name</key>
		<string>Korea</string>
		<key>normal</key>
		<real>7.5</real>
		<key>express</key>
		<integer>28</integer>
	</dict>
</dict>
</plist>
